:root {
    --MainGreen: rgb(0, 128, 0);
    --LightGreen: rgb(178, 230, 173);
    --MainWhite: rgb(255, 255, 255);
    --MainDark: rgb(0, 0, 0);
    --MainYellow: rgb(255, 255, 0);
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--MainWhite) !important;
    color: var(--MainDark) !important;
}

.text-title {
    font-family: Arial, cursive, sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightblue);
}